body{
    width: 100vh;
}

table{
    border-collapse: collapse;
    width: auto;
    overflow-x: auto;
}

th,
td {
    min-width: 80px;
    border: 1px solid #333;   
}

td:focus {
    outline: none;
    /* add your own color */
}

#italics-btn{
    font-style: italic;
}

#bold-btn{
    font-weight: 900;
}

#underline-btn{
    font-weight: 900;
    text-decoration: underline;
}


/* try line-height */
/* try max-height */
/* try height */

/* which one works */